p{
    justify-content: center;
    font-size: small;
    display: contents;
}
.Content1{
    margin-left: 2rem;
    margin-right: 2rem;
}
span{
    font-weight:bold;
    font-size:13px
}
.card-deck{
    margin-top: 2rem;
}