/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    padding:70px 0;
} */
ul{
    list-style: none;
}
.container{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.ss{
    margin: 1em;
}
a{
    color:black;
}
a:hover{
    color: orange;
    text-decoration:none;
}